
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<marquee>
    <p>Welcome to Millenial Resorts! Enjoy the endless summer at anyone of our resorts located globally, accross the Millenial Verse.</p>
</marquee>
<img src="~/Content/images/devPics/giphy.gif" alt="World">
<div class="devPage">

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <section>
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>
        <p>

        </p>

    </section>

    <hr />


    <section class="devSection">
        <img src="~/Content/images/devPics/CRAIGB_small.png" alt="Craig Barkley" height="240" width="240">
        <p>
            With a Management Information Systems Degree, I have worked with medium retail businesses
            for the last 15 years and enjoy using my knowledge to create value for those companies. I am currently
            a DeltaV student, as well as a Kirkwood Community College student finishing a Computer Software Development
            and Web Technologies Associate in Applied Science. I am effective at learning and integrating those new technology
            skills into my development process. I am hoping to find a role creating world class business applications for small
            to medium size businesses. As a small business owner I know the importance of having a strategic business plan that
            includes a technology as a main component to their success; and I want to share my management skills and experiences
            with them to help them overcome the boundaries that all businesses face in the global market..
        </p>
        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">
        <p>
    </section>

</div>


