@{
    ViewBag.Title = "Home Page";
}
<div class="content">

    <div class="jumbotron jumbotronBackGround">
        <div class="container body-content">
            <h1>Welcome to Millennial Resorts</h1>
            <p class="lead">Stay with Millennial Resorts, bring your pets, enjoy events with us and throughout the local area. </p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <h2>ACOMMODATIONS</h2>
                <p>
                    MILLENNIAL RESORT ACOMMODATIONS
                    Each room in the Millennial Resorts & Spa is inspired by music and memories. As you enter through the hand-carved door, each room reflects a global heritage, with distressed hardwood floors, Moroccan rugs, mahogany furniture and brightly-colored mosaic tiles. These elements, combined with feng shui design, luxurious bed linens and rainfall showers ensure a relaxing sensory experience.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>RESORT AMENITIES</h2>
                <p>

                    Our luxury rooms and suites are designed to meet your every need. Natural Mystic Spa is just what you need to start your day. Choose from a menu of exhilarating excursions to feed your explorative soul. Whether snorkeling in the warm waters or lounging by our private, free-form pools, you will find yourself immersed in pure paradise bliss.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>BEST BEACHES</h2>
                <p>Every Millennial Resorts sits directly on a stunning beach or land, on many of the most gorgeous islands in a region famous for its exquisite azure waters with the best luxury all-inclusive experience. Make Millennial Resorts your next vacation destination.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>RESORT ACOMMODATIONS</h2>
                <p>
                    MILLENNIAL RESORT ACOMMODATIONS
                    Each room in the Millennial Resorts & Spa is inspired by music and memories. As you enter through the hand-carved door, each room reflects a global heritage, with distressed hardwood floors, Moroccan rugs, mahogany furniture and brightly-colored mosaic tiles. These elements, combined with feng shui design, luxurious bed linens and rainfall showers ensure a relaxing sensory experience.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>RESORT AMENITIES</h2>
                <p>

                    Our luxury rooms and suites are designed to meet your every need. Natural Mystic Spa is just what you need to start your day. Choose from a menu of exhilarating excursions to feed your explorative soul. Whether snorkeling in the warm waters or lounging by our private, free-form pools, you will find yourself immersed in pure paradise bliss.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>BEST BEACHES</h2>
                <p>Every Millennial Resorts sits directly on a stunning beach or land, on many of the most gorgeous islands in a region famous for its exquisite azure waters with the best luxury all-inclusive experience. Make Millennial Resorts your next vacation destination.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>


    <div class="jumbotron jumbotronHighlights">
        <div class="container body-content">
            <h1>RESORT HIGHLIGHTS</h1>
            <div class="row">

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="jumbotron jumbotronEvents">
        @*<img src="~/Content/images/resortDining.jpg">*@




        @*<div class="container body-content">



            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Content/images/resortDining.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/images/resortDining.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/images/resortDining.jpg" alt="Third slide">
                    </div>
                </div>
            </div>


            <h2>Resort Events</h2>
            <p class="lead">Learn more about Local and Resort Events.  </p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

        </div>
    </div>*@



    <div class="container">
        <h2>Carousel Example</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/images/resortDining.jpg" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/Content/images/resortDining.jpg" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="~/Content/images/resortDining.jpg" alt="New york" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->

        </div>
    </div>





</div>
