
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="content">

    <div class="jumbotron jumbotronBackGroundRoomPage">
        <div class="container body-content">
            <br /><br /><br />
            <h1>Stay With Us!</h1>

            <h1 style="float:right">Relax in Paradise!</h1>



        </div>
    </div>
   


    <div class="jumbotron jumbotronHighlights">
        <div class="container body-content">
            <h1>Our Rooms</h1>
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/helochoopper.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/island_fish.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/limbo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/ropes.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/resortDining.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/sing-along.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
